---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/commons/Section.astro";

import content from "../../data/internship-at-tech-solutions.json";
---

<Layout title={content.title}>
  <main>
    <Section>
      <h1>
        {content.title.split("techkeppercr")[0]}
        <a
          href="https://www.techkeppercr.com/"
          target="_blank"
          class="highlight-link">techkeppercr</a
        >
        {content.title.split("techkeppercr")[1]}
      </h1>
      <span class="date">{content.date}</span>
      <p>{content.introduction}</p>
      {
        content.sections.map((section) => (
          <section class="content-section">
            <h2>{section.title}</h2>
            <p>{section.content}</p>
            {section.image && (
              <div class="image-container">
                <img src={section.image} alt={section.alt} />
              </div>
            )}
            {section.bullets && (
              <ul class="bullet-list">
                {section.bullets.map((bullet) => (
                  <li>{bullet}</li>
                ))}
              </ul>
            )}
            {section.imageSource && (
              <p class="image-suggestion">{section.imageSource}</p>
            )}
            {section.technicalDetails && (
              <div class="technical-details">
                <h2>{section.technicalDetails.title}</h2>
                <p>{section.technicalDetails.content}</p>
                {section.technicalDetails.image && (
                  <div class="image-container">
                    <img
                      src={section.technicalDetails.image}
                      alt={section.technicalDetails.alt}
                    />
                    {section.technicalDetails.imageSource && (
                      <p class="image-suggestion">
                        {section.technicalDetails.imageSource}
                      </p>
                    )}
                  </div>
                )}
              </div>
            )}
            {section.video &&
              Array.isArray(section.video) &&
              section.video.map((video) => (
                <div class="video-container">
                  <iframe
                    width="560"
                    height="315"
                    src={video.src.replace("watch?v=", "embed/")}
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  />
                  <p class="image-suggestion">{video.alt}</p>
                </div>
              ))}
          </section>
        ))
      }
      <section class="content-section">
        {
          content.sections.find((sec) => sec.title === "Mejoras Futuras") ? (
            <>
              <h2>
                {
                  content.sections.find(
                    (sec) => sec.title === "Mejoras Futuras"
                  )!.title
                }
              </h2>
              <p>
                {
                  content.sections.find(
                    (sec) => sec.title === "Mejoras Futuras"
                  )!.content
                }
              </p>
              <ul class="bullet-list">
                {(
                  content.sections.find(
                    (sec) => sec.title === "Mejoras Futuras"
                  )!.bullets || []
                ).map((bullet) => (
                  <li>{bullet}</li>
                ))}
              </ul>
            </>
          ) : null
        }
      </section>
    </Section>
  </main>
</Layout>

<style>
  main {
    max-width: 800px;
    margin: 2rem auto;
    line-height: 1.6;
  }

  h1 {
    font-size: 1.5rem;
    color: var(--text-main);
  }

  .highlight-link {
    text-decoration: underline;
    color: var(--text-main);
  }

  h2 {
    font-size: 1.3rem;
    margin-bottom: 0.75rem;
    color: var(--text-main);
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: var(--text-main);
  }

  p {
    margin-bottom: 1rem;
    color: var(--text-secondary);
  }

  .date {
    font-size: 0.8rem;
    color: var(--text-secondary);
    margin-bottom: 1rem;
    display: block;
    padding-top: 0.2rem;
  }

  .content-section {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
  }

  .content-section:last-of-type {
    border-bottom: none;
  }

  .bullet-list {
    font-size: 0.9rem;
    color: var(--text-secondary);
    line-height: 1.5;
    padding-left: 1.5rem;
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      "Courier New",
      Courier,
      monospace;
  }

  .bullet-list li {
    margin-bottom: 0.5rem;
    list-style-type: disc;
  }

  .image-suggestion {
    font-style: italic;
    color: var(--text-secondary);
    font-size: 0.7rem;
  }

  .image-container {
    margin: 1rem 0;
    text-align: center;
  }

  .image-container img {
    max-width: 100%;
    border-radius: 5px;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: var(--background);
    border-radius: 5px;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .technical-details {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--technical-card-bg);
    margin-top: 1rem;
  }

  @media (max-width: 700px) {
    main {
      margin: 1rem;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.3rem;
    }
  }
</style>
