---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/commons/Section.astro";

import content from "../../data/microsoft-student-ambassador.json";
---

<Layout title={content.title}>
  <main>
    <Section>
      <h1>
        {content.title.split("Microsoft")[0]}
        <a
          href="https://mvp.microsoft.com/studentambassadors"
          target="_blank"
          class="highlight-link"
        >
          Microsoft Student Ambassador</a
        >
      </h1>
      <span class="date">{content.date}</span>
      <p>{content.introduction}</p>

      {
        content.sections.map((section, index) => (
          <section class="content-section">
            <h2>{section.title}</h2>
            <p>{section.content}</p>
            {section.image && (
              <div
                class={`image-container ${index === 2 ? "small-image" : ""}`}
              >
                <img src={section.image} alt={section.alt} />
              </div>
            )}
            {section.imageSource && (
              <p class="image-suggestion">{section.imageSource}</p>
            )}
          </section>
        ))
      }
    </Section>
  </main>
</Layout>

<style>
  main {
    max-width: 800px;
    margin: 2rem auto;
    line-height: 1.6;
  }

  h1 {
    font-size: 1.5rem;
    color: var(--text-main);
  }

  .highlight-link {
    text-decoration: underline;
    color: var(--text-main);
  }

  h2 {
    font-size: 1.3rem;
    margin-bottom: 0.75rem;
    color: var(--text-main);
  }

  p {
    margin-bottom: 1rem;
    color: var(--text-secondary);
  }

  .date {
    font-size: 0.8rem;
    color: var(--text-secondary);
    margin-bottom: 1rem;
    display: block;
    padding-top: 0.2rem;
  }

  .content-section:not(:first-of-type) {
    padding-top: 0.3rem;
    border-bottom: 1px solid var(--border-color);
  }

  .content-section:last-of-type {
    border-bottom: none;
  }

  .image-suggestion {
    font-style: italic;
    color: var(--text-secondary);
    font-size: 0.7rem;
  }

  .image-container {
    margin: 1rem 0;
    text-align: center;
  }

  .image-container img {
    max-width: 100%;
    border-radius: 5px;
  }

  .small-image img {
    max-width: 40%;
  }

  @media (max-width: 700px) {
    main {
      margin: 1rem;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
</style>
