---
import Section from "../commons/Section.astro"
import { work } from "../../data/cv.json"
---

<Section title="Experience Timeline">
  <ol class="timeline">
    {
      work.map(({ name, endDate, position }) => {
        let timeDisplay

        if (endDate != null) {
          timeDisplay = new Date(endDate).getFullYear()
        } else {
          const date = new Date()
          const month = date.getMonth() + 1
          const year = date.getFullYear()
          const startDate = new Date(year, 0, 1)
          const months = month - 1
          const years = year - startDate.getFullYear()
          const monthDisplay = months > 0 ? `${months} months` : ""
          const yearDisplay = years > 0 ? `${years} years` : ""
          timeDisplay = `Present (${yearDisplay}${monthDisplay})`
        }

        return (
          <li class="timeline-item" tabindex="0">
            <div class="timeline-marker" />
            <time class="timeline-date">{timeDisplay}</time>
            <h3 class="timeline-title">{name}</h3>
            <p class="timeline-position">{position}</p>
          </li>
        )
      })
    }
  </ol>
</Section>

<style>
  .timeline {
    list-style: none;
    padding: 0;
    position: relative;
    border-left: 2px solid var(--border-color);
  }

  .timeline-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .timeline-marker {
    position: absolute;
    left: -7px;
    top: 5px;
    width: 14px;
    height: 14px;
    background-color: var(--border-color);
    border-radius: 50%;
    border: 2px solid var(--background);
    transition: background-color 0.3s ease;
  }

  .timeline-date {
    margin-bottom: 5px;
    font-size: 0.85rem;
    color: var(--text-secondary);
  }

  .timeline-title {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-main);
    margin: 0 0 5px;
  }

  .timeline-position {
    font-size: 0.85rem;
    color: var(--text-secondary);
  }

  @media (max-width: 700px) {
    .timeline-item {
      padding-left: 20px;
    }
  }
</style>
